.esds-datepicker-container {
	position: fixed;
	height: auto;
	padding: 20px;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -150px;
	display: inline-block;
	background-color: #fdfdfd;
	border-top: 3px solid #235379;
	border-bottom: 3px solid #235379;
	text-align: center;
	height: 400px;
}
div.esds-overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: white;
	opacity: 0.7;
}
div.esds-datepicker,div.esds-timepicker {
	display: inline-block;
}
div.esds-timepicker {
	vertical-align: top;
	margin-top: 75px;
}
div.esds-datepicker-object {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,.1);
	position: fixed;
	z-index: 100000;
}
div.esds-spacer {
	display: inline-block;
	width:50px;
}
div.esds-summary {
	font-weight: bold;
	font-size: 13pt;
	height: 20px;
	margin-bottom: 20px;
}
div.esds-datepicker-input-group {
	position: relative;
}
div.esds-datepicker-input-group input {
	float: left;
}
div.esds-delete-button {
	color: grey;
	position: absolute;
	margin-left: -22px;
	margin-top: 7px;
	cursor: pointer;
}

/*STYLING*/
.esds-datepicker-object * {
	box-shadow: none !important;
}
.esds-datepicker-object .esds-datepicker,
.esds-datepicker-object .esds-timepicker {
	background: white;
}
.esds-datepicker-object .esds-datepicker *,
.esds-datepicker-object .esds-timepicker * {
	text-shadow: none;
}
.esds-datepicker-object .esds-datepicker {
	border: none;
	background: none;
}
.esds-datepicker-object [ng-switch-when="day"]  tbody button:hover {
	width: 33px !important;
	border-radius: 33px;
	padding-left: 9px;
	margin-left: 0;
}
.esds-datepicker-object [ng-switch-when="day"]  tbody button:focus {
	outline: 0 !important;
}
.esds-datepicker-object table button {
	background: none;
	border: none;
	padding: 7px 10px;
}
.esds-datepicker-object [ng-switch-when="day"] table button.btn-info * {
	color: white;
}
.esds-datepicker-object [ng-switch-when="day"] tbody button.btn-info {
	width: 33px !important;
	border-radius: 33px;
	padding-left: 10px;
	margin-left: 0;
}
.esds-datepicker-object .pull-right:hover,
.esds-datepicker-object .pull-left:hover {
	background: #e0e0e0 !important;
}
.esds-datepicker-object .pull-right:focus,
.esds-datepicker-object .pull-left:focus {
	outline: none;
	background: none;
}
.esds-datepicker-object .pull-right:focus,
.esds-datepicker-object .pull-left:focus {
	outline: none;
	background: none;
}
.esds-datepicker-object .dialogBtn span {
	color: white;
	font-size: 14px;
	font-weight: 200;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
	text-transform: none;
	box-sizing: border-box;
}

.esds-datepicker-object .dialogBtn {
	color: #fff;
	display: inline-block;
	border: 0;
	border-radius: 0;
	padding: 10px 30px;
	cursor: pointer;
	box-shadow: 0px 2px 3px 0px rgba(192, 192, 192, 0.4) !important;
}
.esds-datepicker-object .dialogBtn.saveBtn {
	background-color: rgb(69, 139, 201) !important;
}
.esds-datepicker-object .dialogBtn.cancelBtn {
	background-color: rgb(124, 44, 44) !important;
}