<div class="esds-datepicker-object hidden">
	<div class="esds-overlay"></div>
	<div class='esds-datepicker-container'>
		<div>
			<div class="esds-summary">
				<span ng-show="esds.showDate">{{esds.dateModel|date:'dd-MM-yyyy'}}</span>
				<span>&nbsp;</span>
				<span ng-show="esds.showTime">{{esds.timeModel|date:'HH:mm'}}</span>
			</div>
			<datepicker
					ng-if="esds.showDate"
					ng-model="esds.dateModel"
					min-date="esds.minDate"
					min-date="minDate"
					show-weeks="false"
					starting-day="1"
					class="esds-datepicker well well-sm"
					custom-class="getDayClass(date, mode)">
			</datepicker>
			<div class="esds-spacer"></div>
			<div class="esds-timepicker well well-sm" ng-if="esds.showTime">
				<timepicker
						ng-model="esds.timeModel"
						show-meridian="false">
				</timepicker>
			</div>
		</div>
		<div>
			<div class="btn btn-default" ng-click="esds.cancel()">Annuleren</div>
			<div class="btn btn-primary" ng-click="esds.save()">Opslaan</div>
		</div>
	</div>
</div>