<div class="esds-datepicker-object hidden" ng-show="showEsdsDatepicker">
	<div class="esds-overlay"></div>
	<div class='esds-datepicker-container'>
		<div>
			<div class="esds-summary">
				<span ng-show="esds.showDate">{{esds.dateModel|date:'dd-MM-yyyy'}}</span>
				<span>&nbsp;</span>
				<span ng-show="esds.showTime">{{esds.timeModel|date:'HH:mm'}}</span>
			</div>
			<datepicker
				ng-if="esds.showDate"
				ng-model="esds.dateModel"
				min-date="minDate"
				show-weeks="true"
				class="esds-datepicker well well-sm"
				custom-class="getDayClass(date, mode)">
			</datepicker>
			<div class="esds-spacer"></div>
			<div class="esds-timepicker well well-sm" ng-if="esds.showTime">
				<timepicker
					ng-model="esds.timeModel"
					show-meridian="false">
				</timepicker>
			</div>
		</div>
		<div>
			<div class="btn btn-default" ng-click="cancel()">Annuleren</div>
			<div class="btn btn-primary" ng-click="save()">Opslaan</div>
		</div>
	</div>
</div>